<div class="director-dialog" (click)="movieDetailDialogService.close($event.target)">
  <div class="inner">
    <main class="layout-container" style="margin-top:0;padding-top:0;">
      <div class="my-page">
        <div class="my-head">
          <div class="my-movie">
            <div class="photo">
              <img src="../../../assets/images/RobertDowneyJr.jpg" alt="">
            </div>
            <span class="name">로버트 다우니 주니어</span>
          </div>
        </div>
        <h3>배우로 참여한 작품입니다.</h3>
        <div class="content">
          <div class="inner-guide mypage">
          </div>
        </div>
      </div>
    </main>
  </div>
</div>