<section class="main-section theme-recommend">
  <h3 class="main-title">장르별 추천</h3>
  <div class="body">
    <div class="outer">
      <div class="inner">
        <ul class="list-movie">
          <!-- <li class="list-movie-item"
            *ngFor="let themeMovie of themeMovies">
          <a style="background-image:url(http://via.placeholder.com/220x150);">{{ themeMovie.content }}</a>
          </li> -->
          <li>
            <div class="transparent">
              <a style="background-image: url('../../../assets/images/theme-drama.jpg');">드라마</a>
            </div>
          </li>
          <li>
            <div class="transparent">
              <a style="background-image:url('../../../assets/images/theme-documentary.jpg');">다큐멘터리</a>
            </div>
          </li>
          <li>
            <div class="transparent">
              <a style="background-image:url('../../../assets/images/theme-comedy.jpg');">코미디</a>
            </div>
          </li>
          <li>
            <div class="transparent">
              <a style="background-image:url('../../../assets/images/theme-crime.jpg');">액션</a>
            </div>
          </li>
          <li>
            <div class="transparent">
              <a style="background-image:url('../../../assets/images/theme-animation.jpg');">애니매이션</a>
            </div>
          </li>
          <li>
            <div class="transparent">
              <a style="background-image:url('../../../assets/images/theme-horror.jpg');">공포</a>
            </div>
          </li>
          <li>
            <div class="transparent">
              <a style="background-image:url('../../../assets/images/theme-thriler.jpg');">스릴러</a>
            </div>
          </li>
          <li>
            <div class="transparent">
              <a style="background-image:url('../../../assets/images/theme-romanticcomedy.jpg');">로맨틱코메디</a>
            </div>
          </li>
          <li>
            <div class="transparent">
              <a style="background-image:url('../../../assets/images/theme-crime.jpg');">범죄 느와르</a>
            </div>
          </li>
          <li>
            <div class="transparent">
              <a style="background-image:url('../../../assets/images/theme-romance.jpg');">로멘스 멜로</a>
            </div>
          </li>  
        </ul>
      </div>
    </div>
    <div class="btn-group">
      <button class="prev">이전</button>
      <button class="next">다음</button>
    </div>
  </div>
</section>