<section class="theme-recommend">
  <h3>장르별 추천</h3>
  <div class="body">
    <div class="outer">
      <div class="inner">
        <ul class="list-movie">
          <li>
            <div style="background-image:url('http://via.placeholder.com/220x150');">드라마</div>
          </li>
          <li>
            <div>다큐멘터리</div>
          </li>
          <li>
            <div>코미디</div>
          </li>
        </ul>
      </div>
    </div>
    <div class="btn-group">
      <button class="prev">이전</button>
      <button class="next">다음</button>
    </div>
  </div>
</section>