<div class="comment-dialog">
  <h3 mat-dialog-title> {{dialog.moviePoster.title_ko}} <button class="close-dialog" matDialogClose>닫기</button></h3>
  <mat-dialog-content>
    <div class="poster">
      <img src="{{dialog.moviePoster.poster_image_m}}" alt="">
    </div>
    <div class="txtarea-wrapper">
      <textarea name="" id="" cols="30" rows="10" placeholder="영화에 대한 평을 남겨주세요." #comment [value]="dialog.moviePoster.login_user_checked.comment"></textarea>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button class="submit" matDialogClose
      (click)="dialog.writeComment( comment.value, dialog.moviePoster.id ,dialog.moviePoster.login_user_checked)">
    확인</button>
  </mat-dialog-actions>
</div>
