@import '../../../variables';

.list-movie {
    flex-flow: row wrap;
    justify-content: flex-start; 
    li {
    width: 20%;
    }
}

.BW-rating-star{
    text-align: center;
    background-color:#e5e5e5;
    margin-top: 10px;
}

.BW-rating-star button {
    width: 8px;
    height: 16px;
    cursor: unset;
    &.star {
    background-image: url("../../../assets/images/greystar.jpg");
    background-position: 0px 0px;
        &.on {
          background-image: url("../../../assets/images/greystar.jpg"); 
        }
        &:nth-child(even) {
            background-position: -8px 0px;
        }
    }
}


