<div class="movie-detail" (click)="movieDetailService.close($event.target)">
  <!-- <span class="dim"></span> -->
  <div class="inner">
    <div class="head">
      <div class="still-cut">
        <ul>
          <li *ngFor="let stillCut of stillCuts; let i = index;" [style.transition]="getTransition(i)" [style.opacity]="getOpacity(i)" [style.z-index]="getZIndex(i)" [style.background-image]="'url(' + stillCut + ')'"></li>
        </ul>
        <button class="prev"><i class="icon-left-open-big" (click)="nextMovie('left')"></i> 이전 스틸컷 보기</button>
        <button class="next"><i class="icon-right-open-big" (click)="nextMovie('right')"></i>다음 스틸컷 보기</button>
      </div>
      
      <div class="main-info">
        <div class="poster"><span><img src="{{ movie.poster }}" alt=""></span></div>
        <div class="con-right">
          <div class="score">
            <dl>
              <dt>예상별점</dt>
              <dd>{{ movie.star }}</dd>
            </dl>
            <dl>
              <dt>예매율</dt>
              <dd><em class="num">{{ movie.ticket }}%</em></dd>
            </dl>
            <dl>
              <dt>누적관객수</dt>
              <dd>78,509</dd>
            </dl>
            <dl>
              <dt>개봉일</dt>
              <dd>D +1</dd>
            </dl>
          </div>
          <article class="detail">
            <div class="movie">
              <h2>{{ movie.title }}</h2>
              <div class="info">RAMPAGE, 2018, 미국, 액션, 12세 관람가, 1시간 47분</div>
              <div class="info">
                <div class="star-ui">
                  <span class="on"></span>
                  <span class="on"></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                </div>
                <span class="al-middle">3.1 (604명 참여)</span>
              </div>
            </div>
            <div class="favorite">
              <span><i class="icon-star"></i> 604</span>
              <span><i class="icon-heart"></i> 123</span>
              <span><i class="icon-comment"></i> 50+</span>
            </div>
            <div class="chart">Chart API</div>
          </article>
        </div>
      </div>
    </div>

    <div class="body">
      <div class="sub-info">
        <div class="con-left">
          <section class="section-story">
            <h3 class="title">줄거리</h3>
            <div class="cont">
              <p>초거대 괴수들이 미쳐 날뛴다! <br>
              유인원 전문가 ‘데이비스(드웨인 존슨)’는 사람들은 멀리하지만, 어릴 때 구조해서 보살펴 온 영리한 알비노 고릴라 ‘조지’와는 특별한 감정을 공유한다. 어느 날, 유순하기만 하던 조지가 의문의 가스를 흡입하면서 엄청난 괴수로 변해 광란을 벌인다. 재벌기업이 우주에서 무단으로 감행한 ‘프로젝트 램페이지’라는 유전자 조작 실험이 잘못되면서 지구로 3개의 병원체가 추락했던 것. 조지뿐만 아니라 가스를 마신 늑대와 악어 역시 변이시키고 끝도 없이 거대해진 이들 포식자들이 도심을 파괴하며 미국 전역을 쑥대밭으로 만들어 놓는다. 데이비스는 괴수들을 상대로 전지구적인 재앙을 막고 변해버린 조지를 구하기 위한 해독제를 찾아야만 하는데…</p>
            </div>
          </section>

          <section class="section-comment">
            <h3 class="title">코멘트 <span class="sub-txt">(183)</span></h3>
            <div class="cont">
              <div class="item">
                <div class="photo"><img src="../../assets/images/khc.jpg" alt=""></div>
                <div class="wrap">
                  <div class="star-ui">
                    <span class="on"></span>
                    <span class="on"></span>
                    <span class="on"></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                  </div>
                  <div class="name">강희창</div>
                  <p class="comment">고릴라를 본 적이 있다. 고릴라가 나의 편인지 적군인지 시험하기 위해 녀석의 우리 앞에서 죽은 척을 해보았다. 내가 듣기로는 고릴라가 사람을 먹는다는 이야기를 들어본 적이 없었으나</p>
                  <div class="btm">
                    <span class="time">2일 전</span>
                    <span class="like">좋아요 34</span>
                    <span class="event">
                      <button>부적절한 표현 신고하기</button>
                      <button>스포일러 신고하기</button>
                    </span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="photo"><img src="../../assets/images/khc.jpg" alt=""></div>
                <div class="wrap">
                  <div class="star-ui">
                    <span class="on"></span>
                    <span class="on"></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                  </div>
                  <div class="name">강희창</div>
                  <p class="comment">고릴라를 본 적이 있다. 고릴라가 나의 편인지 적군인지 시험하기 위해 녀석의 우리 앞에서 죽은 척을 해보았다. 내가 듣기로는 고릴라가 사람을 먹는다는 이야기를 들어본 적이 없었으나</p>
                  <div class="btm">
                    <span class="time">2일 전</span>
                    <span class="like">좋아요 34</span>
                    <span class="event">
                      <button>부적절한 표현 신고하기</button>
                      <button>스포일러 신고하기</button>
                    </span>
                  </div>
                </div>
              </div>
              <button class="btn-more">더보기</button>
            </div>
          </section>

          <!-- <section class="section-movie">
            <h3 class="title">비슷한 영화</h3>
            <div class="cont">
              영화 리스트
              <button class="btn-more">더보기</button>
            </div>
          </section> -->
        </div>
        <div class="con-right">
          <section>
            <h3 class="title">예고편</h3>
            <div class="cont">
              <ul class="list-preview">
                <li><a href="#">영화</a></li>
                <li><a href="#">영화</a></li>
              </ul>
            </div>
          </section>

          <section>
            <h3 class="title">감독</h3>
            <div class="cont">
              <ul class="list-person">
                <li>
                  <a href="javascript:;" (click)="movieDetailDialogService.movieDetail()" style="background-image: url('../../assets/images/khc.jpg');">
                    <dl>
                      <dt>브래드 페이튼</dt>
                      <dd>Brad Peyton</dd>
                    </dl>
                  </a>
                </li>
              </ul>
            </div>
          </section>

          <section>
            <h3 class="title">주연</h3>
            <div class="cont">
              <ul class="list-person">
                <li>
                  <a href="#" style="background-image: url('../../assets/images/khc.jpg');">
                    <dl>
                      <dt>브래드 페이튼</dt>
                      <dd>Brad Peyton</dd>
                    </dl>
                  </a>
                </li>
                <li>
                  <a href="#" style="background-image: url('../../assets/images/khc.jpg');">
                    <dl>
                      <dt>브래드 페이튼</dt>
                      <dd>Brad Peyton</dd>
                    </dl>
                  </a>
                </li>
              </ul>
            </div>
          </section>

          <section>
            <h3 class="title">조연</h3>
            <div class="cont">
              <ul class="list-person">
                <li>
                  <a href="#" style="background-image: url('../../assets/images/khc.jpg');">
                    <dl>
                      <dt>브래드 페이튼</dt>
                      <dd>Brad Peyton</dd>
                    </dl>
                  </a>
                </li>
                <li>
                  <a href="#" style="background-image: url('../../assets/images/khc.jpg');">
                    <dl>
                      <dt>브래드 페이튼</dt>
                      <dd>Brad Peyton</dd>
                    </dl>
                  </a>
                </li>
              </ul>
              <button class="btn-more">더보기</button>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
