<section class="theme-area">
  <h4 class="skip">테마별 영화</h4>
  <ul>
    <ng-container *ngFor="let movieCategoryList of movieCategoryLists; let i = index" >
      <li *ngIf="i<13"
      [class.active]="movieCategoryList.active"
      (click)="changeCategory(movieCategoryList.genre)"
      class="category-list">
        <a class="btn-category">
          <span class="category">{{ movieCategoryList.category }}
            <span class="highright-border"></span>
          </span>
        </a>
      </li>
    </ng-container>
    <!-- <li>
      <a href="#">
        <span>왓챠 평균별점 TOP 영화</span>
      </a>
    </li> -->
  </ul>
  <a href="#" class="view-all">모두보기</a>
</section>
