<div class="poster-type">
  <div class="movie-poster" (click)="movieDetailService.movieDetail()" [attr.data-moviepk]="moviePoster.id">
    <img src="{{ moviePoster.poster_image_m }}" alt="" *ngIf="!posterSizeLarge">
    <img src="{{ moviePoster.poster_image }}" alt="" *ngIf="posterSizeLarge">
  </div>
  <div class="hidden-layer" [class.rated]="rating> 0">
    <cite class="movie-name">{{ moviePoster.title_ko }}</cite>
    <div class="rating-star"
    [attr.data-rating]="rating"
    [attr.data-chekdId]="checkedId"
    >

      {{ moviePoster.rate }}
      <button *ngFor="let rate of rateScore" [attr.data-value]="rate" class="star" [class.star-on]="rate <= rating"
        (click)="rateFilm($event.target, rate, moviePoster.id)"></button>
    </div>
    <div class="movie-poster-button">
      <a class="add-button want2see-movie">보고싶어요</a>
      <a class="add-button comment" (click)="commnetDialogService.openDialog()">코멘트남기기</a>
    </div>
  </div>
</div>
<!-- [attr.data-checkedId]="moviePoster.login_user_checked.id === undefined ? null : moviePoster.login_user_checked.id" [attr.data-wanted]="moviePoster.login_user_checked.user_want_movie
=== undefined ? null : moviePoster.login_user_checked.user_want_movie" [attr.data-watched]="moviePoster.login_user_checked.user_watched_movie
=== undefined ? null : moviePoster.login_user_checked.user_watched_movie"> -->
