<div class="section-wrap">
  <section class="statistics rating-graph">
    <h3 class="section-title">영화별점 분포</h3>
    <p class="comment">대중의 평가에 잘 휘둘리지 않는 '지조파'</p>
    <div class="graph">
      <canvas baseChart width="460" height="200" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
        [colors]="lineChartColors"  [chartType]="lineChartType" ></canvas>
        <ol class="scores">
          <li>1</li>
          <li>2</li>
          <li>3</li>
          <li>4</li>
          <li>5</li>
          <li>6</li>
          <li>7</li>
          <li>8</li>
          <li>9</li>
          <li>10</li>
        </ol>
    </div>
    <ul class="rating-stat">
      <li><div class="rating-average">3.5</div>별점 평균</li>
      <li><div>500</div>별점 수</li>
      <li><div>4.0</div>많이 준 별점</li>
    </ul>
  </section>
  <section class="statistics director">
    <h3 class="section-title">선호감독</h3>
    <ul class="list-type01">
      <li>
        <img src="https://d12hfz37g51hrt.cloudfront.net/ppl/medium/e0eadc7b426973cddf6a.jpg?1518502061" alt="" class="face">
        <div class="info">
          <div class="names">
            <h3><a href="" class="name">크리스토퍼 놀란</a></h3>
            <a href="" class="movie-name">다크나이트</a>
          </div>
        </div>
        <div class="score"><strong>50</strong>점/ 8편</div>
      </li>
      <li>
        <img src="https://d12hfz37g51hrt.cloudfront.net/ppl/medium/e0eadc7b426973cddf6a.jpg?1518502061" alt="" class="face">
        <div class="info">
          <div class="names">
            <h3><a href="" class="name">크리스토퍼 놀란</a></h3>
            <a href="" class="movie-name">다크나이트</a>
          </div>
        </div>
        <div class="score"><strong>50</strong>점/ 8편</div>
      </li>
      <li>
        <img src="https://d12hfz37g51hrt.cloudfront.net/ppl/medium/e0eadc7b426973cddf6a.jpg?1518502061" alt="" class="face">
        <div class="info">
          <div class="names">
            <h3><a href="" class="name">크리스토퍼 놀란</a></h3>
            <a href="" class="movie-name">다크나이트</a>
          </div>
        </div>
        <div class="score"><strong>50</strong>점/ 8편</div>
      </li>
      <li>
        <img src="https://d12hfz37g51hrt.cloudfront.net/ppl/medium/e0eadc7b426973cddf6a.jpg?1518502061" alt="" class="face">
        <div class="info">
          <div class="names">
            <h3><a href="" class="name">크리스토퍼 놀란</a></h3>
            <a href="" class="movie-name">다크나이트</a>
          </div>
        </div>
        <div class="score"><strong>50</strong>점/ 8편</div>
      </li>
      <li>
        <img src="https://d12hfz37g51hrt.cloudfront.net/ppl/medium/e0eadc7b426973cddf6a.jpg?1518502061" alt="" class="face">
        <div class="info">
          <div class="names">
            <h3><a href="" class="name">크리스토퍼 놀란</a></h3>
            <a href="" class="movie-name">다크나이트</a>
          </div>
        </div>
        <div class="score"><strong>50</strong>점/ 8편</div>
      </li>
      <li>
        <img src="https://d12hfz37g51hrt.cloudfront.net/ppl/medium/e0eadc7b426973cddf6a.jpg?1518502061" alt="" class="face">
        <div class="info">
          <div class="names">
            <h3><a href="" class="name">크리스토퍼 놀란</a></h3>
            <a href="" class="movie-name">다크나이트</a>
          </div>
        </div>
        <div class="score"><strong>50</strong>점/ 8편</div>
      </li>
    </ul>
  </section>
  <section class="statistics actor">
    <h3 class="section-title">선호 배우</h3>
    <ul class="list-type01">
      <li>
        <img src="https://d12hfz37g51hrt.cloudfront.net/ppl/medium/11c5c25e9e23ed967b36.jpg?1494045957" alt="" class="face">
        <div class="info">
          <div class="names">
            <h3><a href="" class="name">톰 크루즈</a></h3>
            <a href="" class="movie-name">미션임파서블</a>
          </div>
        </div>
        <div class="score">
          <strong>50</strong>점/ 8편
        </div>
      </li>
      <li>
        <img src="https://d12hfz37g51hrt.cloudfront.net/ppl/medium/11c5c25e9e23ed967b36.jpg?1494045957" alt="" class="face">
        <div class="info">
          <div class="names">
            <h3><a href="" class="name">톰 크루즈</a></h3>
            <a href="" class="movie-name">미션임파서블</a>
          </div>
        </div>
        <div class="score">
          <strong>50</strong>점/ 8편
        </div>
      </li>
      <li>
        <img src="https://d12hfz37g51hrt.cloudfront.net/ppl/medium/11c5c25e9e23ed967b36.jpg?1494045957" alt="" class="face">
        <div class="info">
          <div class="names">
            <h3><a href="" class="name">톰 크루즈</a></h3>
            <a href="" class="movie-name">미션임파서블</a>
          </div>
        </div>
        <div class="score">
          <strong>50</strong>점/ 8편
        </div>
      </li>
      <li>
        <img src="https://d12hfz37g51hrt.cloudfront.net/ppl/medium/11c5c25e9e23ed967b36.jpg?1494045957" alt="" class="face">
        <div class="info">
          <div class="names">
            <h3><a href="" class="name">톰 크루즈</a></h3>
            <a href="" class="movie-name">미션임파서블</a>
          </div>
        </div>
        <div class="score">
          <strong>50</strong>점/ 8편
        </div>
      </li>
      <li>
        <img src="https://d12hfz37g51hrt.cloudfront.net/ppl/medium/11c5c25e9e23ed967b36.jpg?1494045957" alt="" class="face">
        <div class="info">
          <div class="names">
            <h3><a href="" class="name">톰 크루즈</a></h3>
            <a href="" class="movie-name">미션임파서블</a>
          </div>
        </div>
        <div class="score">
          <strong>50</strong>점/ 8편
        </div>
      </li>
      <li>
        <img src="https://d12hfz37g51hrt.cloudfront.net/ppl/medium/11c5c25e9e23ed967b36.jpg?1494045957" alt="" class="face">
        <div class="info">
          <div class="names">
            <h3>
              <a href="" class="name">톰 크루즈</a>
            </h3>
            <a href="" class="movie-name">미션임파서블</a>
          </div>
        </div>
        <div class="score">
          <strong>50</strong>점/ 8편
        </div>
      </li>
    </ul>
  </section>
  <section class="statistics best-comment">
    <h3 class="section-title">홍길동 님이 쓴 인기코멘트</h3>
    <div class="movie-bg" style="background: url('http://dhgywazgeek0d.cloudfront.net/watcha/image/upload/v1466142041/sercf69ybtcslkxkpi16.jpg') center center no-repeat">
      <cite class="movie-name"><a href="">곤지암</a></cite>
    </div>
    <div class="user">
      <div class="rating-star">
        <button *ngFor="let item of rateScore" data-value="{{ item }}" class="star" [class.star-on]="item <= 5" (click)="rateFilm($event.target, i)"></button>
      </div>
      <div class="user-comment">
        가나다라마바
      </div>
      <div class="action">
        <div class="btn-action">
          <button class="action-like" title="이 코멘트 추천하기"></button>
          <span class="like-count">13</span>
        </div>
      </div>
    </div>
  </section>
  <section class="statistics tag">
    <h3 class="section-title">영화 선호태그</h3>
    <div class="word-cloud">
      <div AgWordCloud  [wordData]="wordData" [options]="WordCloudOptions" [width]="460"></div>
    </div>
  </section>
  <section class="statistics genre">
    <h3 class="section-title">영화 선호장르</h3>
    <p class="comment">애니메이션 좋아하는 사람 치고 나쁜 사람 없어요</p>
    <div class="graph">
<canvas baseChart [data]="doughnutChartData" [chartType]="doughnutChartType" (chartHover)="chartHovered($event)" [labels]="doughnutChartLabels"
  [options]="doughnutChartOptions" [colors]="doughnutChartColors"></canvas>


    </div>
    <ul class="list-type02">
      <li>
        <span class="sort">SF</span>
        <span class="score">90점</span>
        <span class="count">100편</span>
      </li>
      <li>
        <span class="sort">판타지</span>
        <span class="score">60점</span>
        <span class="count">120편</span>
      </li>
      <li>
        <span class="sort">스릴러</span>
        <span class="score">50점</span>
        <span class="count">10편</span>
      </li>
    </ul>
  </section>
  <section class="statistics nation">
    <h3 class="section-title">미국 영화를 재밌게 보셧어요</h3>
    <div class="worldmap">

    </div>
    <ul class="list-type02">
      <li>
        <span class="sort">미국</span>
        <span class="score">50점</span>
        <span class="count">666편</span>
      </li>
      <li>
        <span class="sort">미국</span>
        <span class="score">50점</span>
        <span class="count">666편</span>
      </li>
      <li>
        <span class="sort">미국</span>
        <span class="score">50점</span>
        <span class="count">666편</span>
      </li>
      <li>
        <span class="sort">미국</span>
        <span class="score">50점</span>
        <span class="count">666편</span>
      </li>
    </ul>
  </section>
  <section class="statistics time">
    <h3 class="section-title">시청시간</h3>
    <p class="comment">상위 1%! 영화를 진심으로 사랑하는 시네필</p>
    <div class="time-sum">
      <div class="circle">1166</div>
    </div>
  </section>
</div>
