@import '../../../variables.scss';
$icon-circle-radius : 10px;
.section-wrap{
  column-count: 2;
}
.statistics {
  width: 460px;
  padding-top: 15px;
  margin-bottom: 30px;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  break-inside: avoid;
  -webkit-column-break-inside: avoid;

  .section-title{
    padding-bottom: 15px;
    color: #333;
    font-size: 2rem;
  }
  .comment {
    color: #555;
    font-size: 1.8rem;
  }
  .comment ,.section-title {
    padding-left: 15px;
  }
  .list-type01{
    width: 430px;
    margin: 0 auto;
    padding-bottom: 15px;
    li {
      display: flex;
      margin-bottom: 10px;
      justify-content: space-between;
      &:last-child{
        margin-bottom:0;
      }
    }
    .face {
      width: 80px;
      height: 80px;
    }
    .info {
      width: 270px;
      .names {
        padding: 20px 0px 0px 10px;
      }
      .name {
        font-size: 2rem;
      }
    }
    .score {
      width: 80px;
      padding-top: 30px;
      font-size: 1.5rem;
    }
    strong {
      font-weight: bold;
    }
  }
  .list-type02 {
    li {
      display: flex;
      width: 100%;
      padding: 10px 15px;
      border-bottom: 1px solid #ddd;
      font-size: 1.6rem;
      &:last-child {
        border: none;
      }
      &:nth-child(-n + 3) .sort {
        &:before,
        &:after {
          content: "";
          position: absolute;
          display: block;
        }
        &:before {
          width: $icon-circle-radius*2;
          height: $icon-circle-radius*2;
          left: 0;
          top: 1px;
          border-radius: $icon-circle-radius;
        }
        &:after {
          width: $icon-circle-radius;
          height: $icon-circle-radius;
          left: $icon-circle-radius/2;
          top: $icon-circle-radius/2 + 1;
          border-radius: $icon-circle-radius/2;
          background: #fff;
        }
      }
      &:nth-child(1) .sort:before {
        background: $global-color;
      }
      &:nth-child(2) .sort:before {
        background: lighten($global-color, 10%);
      }
      &:nth-child(3) .sort:before {
        background: lighten($global-color, 20%);
      }
    }
    span {
      display: inline-block;
      width: 33.33%;
      &.sort {
        position: relative;
        padding-left: 25px;
      }
      &.score {
        text-align: center;
      }
      &.count {
        text-align: right;
      }
    }
  }
}
.rating-graph {
  .rating-stat{
    display: flex;
    padding: 20px 35px;
    justify-content: space-between;
    background:rgb(237, 170, 0);
    li {
      text-align: center;
      font-size: 1.5rem;
    }
    div {
      font-size: 4rem;
    }
    .rating-average {
      font-weight: bold;
    }
  }
  .graph {
    position: relative;
    margin-top: 20px;
    .scores{
      position: absolute;
      list-style: none;
      bottom: 5px;
      left: 30px;
      li {
        float: left;
        text-align: left;
        padding-right: 35px;
        font-size: 1.4rem;

        &:last-child {
          padding-right: 0;
        }
      }
    }
  }
}
.time-sum {
  padding: 20px 0;
  .circle {
    width: 125px;
    height: 125px;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    line-height: 125px;
    font-size: 2rem;
    background: $global-color;
    border-radius: 150px;
  }
}
.best-comment {
  position: relative;
  .movie-bg {
    position: relative;
    height: 200px;
    &:before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background: rgba(113, 113, 113, 0.74);
    }
    .movie-name {
      position: absolute;
      bottom: 20px;
      right: 10px;
      color: #fff;
      font-size: 2rem;
    }
  }
  .user {
    .star {
      width: 7px;
      height: 14px;
      &:nth-child(even) {
        background-position: -7px 0px;
      }
    }
  }
  .rating-star {
    padding-left: 15px;
  }
  .user-comment {
    padding: 10px 15px;
    font-size: 1.6rem;
  }

  .action {
    padding-top: 65px;
  }
  .btn-action {
    position: absolute;
    bottom: 20px;
    left: 15px;
    .action-like {
      width: 20px;
      height: 20px;
      background: url('/assets/images/icon-thumb.svg') no-repeat;
    }
    .like-count {
      color: rgb(141, 141, 141);
    }
    .action-report {
      display: none;
      width: 24px;
      height: 22px;
      margin-left: 15px;
      background: url('/assets/images/icon-comment-report.svg') no-repeat;
    }
  }
}
.genre {
  .graph {
    margin: 20px 0px;
  }
}
