<section class="watcha-new">
  <h4 class="skip">테마별 영화</h4>
  <div class="head">
    <h3>왓챠플레이에 새로 올라온 작품</h3>
    <div class="bbtn">
      <button class="prev">&lt;</button>
      <button class="next">&gt;</button>
    </div>
  </div>
  <div class="body">
    <ul>
      <li>
        <dl>
          <dt>한니발 시즌 1</dt>
          <dd>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus unde modi, nulla ex possimus fuga quia perferendis
            labore ratione, reiciendis dignissimos ipsam nobis, at eligendi nam similique praesentium aspernatur officia.</dd>
        </dl>
        <div class="thumb">
          <img src="./ot.jpg" alt="">
        </div>
      </li>
      <li>
        <dl>
          <dt>한니발 시즌 2</dt>
          <dd>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus unde modi, nulla ex possimus fuga quia perferendis
            labore ratione, reiciendis dignissimos ipsam nobis, at eligendi nam similique praesentium aspernatur officia.</dd>
        </dl>
        <div class="thumb">
          <img src="./ot.jpg" alt="">
        </div>
      </li>
      <li>
        <dl>
          <dt>한니발 시즌 3</dt>
          <dd>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus unde modi, nulla ex possimus fuga quia perferendis
            labore ratione, reiciendis dignissimos ipsam nobis, at eligendi nam similique praesentium aspernatur officia.</dd>
        </dl>
        <div class="thumb">
          <img src="./ot.jpg" alt="">
        </div>
      </li>
    </ul>
  </div>
</section>