@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800');
@import url('./fontello.css');

/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Apple SD Gothic Neo', 'Nanum Gothic', '맑은 고딕', 'Malgun Gothic', '돋움', dotum, '굴림', sans-serif;
  font-size: 1.3rem;
  background: #e5e5e5;
  color: #666;
  letter-spacing: -1px;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  cursor: pointer;
}

i, em, address {
  font-style: normal;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

.skip, legend {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px 1px 1px 1px);
  overflow: hidden;
}

/* layout */
.wrapper {
  min-width: 1200px;
}

.inner-guide {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}


.layout-container {
  margin: 60px 0 0;
  padding: 20px 0;
}

.layout-footer {
  background: #fff;
  .inner-guide {
    padding: 30px 0;
  }
}

.conRight {
  overflow: hidden;
}

/* 메인 비주얼 */
.main-slider {
  position: relative;
  height: 500px;
  margin: 0 0 50px;
}
.main-slider .body {
  position: relative;
  height: 100%;
}
.main-slider li {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: 100%;
}
.main-slider li.active {
  z-index: 1;
}
.main-slider .inner-guide {
  height: 100%;
}
.main-slider .information {
  position: absolute;
  left: 0;
  bottom: 120px;
  margin: 0 10px;
  color: #fff;
}
.main-slider .today {
  font-size: 1.8rem;
}
.main-slider dt {
  font-size: 3.2rem;
}
.main-slider dd {
  font-size: 1.6rem;
}
.main-slider .each {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50px;
  z-index: 4;
  text-align: center;
  font-size: 0;
}
.main-slider .each span {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 100%;
  background: #fff;
  opacity: .5;
  cursor: pointer;
}
.main-slider .each span.current {
  opacity: 1;
}
.main-slider .arrow button {
  position: absolute;
  top: 50%;
  z-index: 4;
  transform: translateY(-50%);
  font-size: 0;
  background: none;
  border: 0;
}
.main-slider .arrow button.prev {
  left: 0;
}
.main-slider .arrow button.next {
  right: 0;
}
.main-slider .arrow i {
  display: block;
}
.main-slider .arrow i:before {
  font-size: 5rem;
  color: #fff;
}

.main-content {
  .main-section {
    margin: 30px 0 0;
  }
  .box-office {
    margin-top: 0;
  }
  .main-title {
    margin: 0 0 5px 10px;
    font-weight: 800;
    font-size: 2rem;
    color: #333;
  }
  .body {
    position: relative;
  }
  .outer {
    overflow: hidden;
    position: relative;
  }
  .btn-group {
    button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      &.icon-left-open-big,
      &.icon-right-open-big {
        &:hover::before {
          color: #000;
        }
        &::before {
          font-size: 5rem;
        }
      }

      &.icon-left-open-big {
        left: -60px;
      }
      &.icon-right-open-big {
        right: -60px;
      }
    }
  }
  .inner {
    // transform: translateX(-100%);
    height: 650px;
    &::after {
      content: '';
      display: block;
      clear: both;
    }
  }
  .conLeft {
    float: left;
    height: 100%;
    padding: 10px;
  }
  .conRight {
    float: left;
    height: 100%;
  }
}

.box-office {
  .conLeft {
    width: 20%;
  }
  .conRight {
    width: 80%;
  }
  .list-movie {
    li {
      &:first-child {
        width: 50%;
        height: 100%;
      }
    }
  }
}

.list-movie {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-content: flex-start;
  flex-flow: column wrap;
  height: 100%;
  transition: all .6s cubic-bezier(0.39, 0.58, 0.57, 1);
  transform: translateX(0px);
  li {
    width: 25%;
    height: 50%;
    padding: 10px;
    > div {
      height: 100%;
      background: #fff;
      background-repeat: no-repeat;
    }
  }
}

.enum-movies {
  .conLeft {
    width: 20%;
  }
  .conRight {
    width: 80%;
  }
}

.theme-area {
  height: 100%;
  background: #fff;
}

.new-movies {
  .conLeft {
    width: 40%;
  }
  .conRight {
    width: 60%;
  }
  .list-movie {
    li {
      width: 33.33%;
    }
  }
}

.watcha-new {
  height: 100%;
  background: #fff;
  border-radius: 5px;
  .head {
    position: relative;
    padding: 14px 15px;
    border-bottom: 1px solid #eee;
  }

  .head h3 {
    font-size: 1.6rem;
  }

  .head .bbtn {
    position: absolute;
    right: 15px;
    top: 50%;
    font-size: 0;
    transform: translateY(-50%);
    border: 1px solid #ccc;
  }

  .head button {
    width: 23px;
    height: 23px;
    background: #fff;
    border: 0;
    color: #ccc;
  }

  .head button.prev {
    border-right: 1px solid #ccc;
  }

  .body {
    padding: 35px 15px;
  }

  .body ul {
    overflow: hidden;
    height: 510px;
    list-style: none;
  }

  .body li {
    position: relative;
  }

  .body li+li {
    margin-top: 30px;
  }

  .body dl {
    margin-left: 110px;
  }

  .body dt {
    margin-bottom: 5px;
    font-size: 1.4rem;
  }

  .body dd {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    max-height: 4.5em;
  }

  .body .thumb {
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 80px;
  }

  .body .thumb img {
    max-width: 100%;
  }
}

.theme-recommend {
  .inner {
    height: 340px;
  }
  .list-movie {
    li {
      width: 20%;
    }
  }
  .transparent {
    &:hover{
        background-color:rgba(255, 131, 98, 0.5);
        & > a {
            opacity: 0.5;
        }
    }
    > a {
        display: block;
        opacity: 0.9;
        height: 150px;
        background-size: cover;
        text-align: center;
        font-size: 1.8rem;
        color: white;
        text-shadow: 2px 2px #696969;
        line-height: 150px;
    }
  }
}
.user-area {
  height: 100%;
  padding: 30px 0;
  background: url('/assets/images/bg_login.jpg') no-repeat 50% 0;
  background-size: cover;
  .logo {
    position: relative;
    width: 940px;
    margin: 0 auto;
    h1 {
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  .inner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    margin: 0 auto;
  }
  .box {
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    background: #eee;
    text-align: center;
  }
  h2 {
    padding: 15px 20px;
    background: #fff;
    font-size: 1.6rem;
    font-weight: bold;
  }
  .icon-btn {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 48px;
    color: #fff;
    overflow: hidden;
    border-radius: 5px;
    font-weight: bold;
    line-height: 48px;
    .icon {
      position: absolute;
      left: 0;
      top: 0;
      width: 48px;
      font-size: 2rem;
    }
    .text {
      padding: 0 0 0 48px;
      font-size: 1.4rem;
    }
  }
  .wrap {
    padding: 20px 30px;
    color: #aaa;
    .input {
      position: relative;
      margin: 0 0 10px;
      label {
        display: none;
      }
      input {
        width: 100%;
        height: 48px;
        padding: 0 10px;
        border: 1px solid #ddd;
        border-radius: 3px;
        &.ng-invalid.ng-touched {
          border-color: #f00;
        }
      }
    }
    .submit {
      width: 100%;
      height: 48px;
      background: linear-gradient(#ff8400, #ff7400);
      font-weight: bold;
      font-size: 1.4rem;
      color: #fff;
      border-radius: 5px;
      &[disabled] {
        background: #ddd;
        cursor: default;
      }
    }
    .txt-agree {
      margin: 10px 0 0;
      text-align: left;
      label {
        display: block;
        position: relative;
        + label {
          margin: 5px 0 0;
        }
        input {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          &:checked + span {
            &::before {
              border-width: 5px;
            }
          }
        }
        > span {
          display: block;
          position: relative;
          padding: 0 0 0 24px;
          font-size: 1.2rem;
          &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 2px;
            width: 16px;
            height: 16px;
            background: #eee;
            border: 1px solid #ff8400;
            transition: .1s ease-in-out;
          }
          > em {
            color: #333;
          }
        }
      }
    }
    .mail {
      margin: 20px 0 0;
      background: linear-gradient(#ff8400, #ff7400);
      .icon {
        background: linear-gradient(#ff7000, #ff6000);
      }
      &[disabled] {
        background: #ddd;
        cursor: default;
        .icon {
          background: #cdcdcd;
        }
      }
    }
  }
  .links {
    margin: 20px 0 0;
    > * {
      display: inline-block;
      line-height: 1.2;
      border-bottom: 1px solid #aaa;
    }
  }
  .box.bottom {
    margin: 30px 0 0;
    .notice {
      display: block;
      margin: 0 0 10px;
    }
    .fb {
      background: linear-gradient(#569bf0, #468be9);
      .icon {
        background: linear-gradient(#4e91ed, #3d83e3);
      }
    }
    .login {
      display: block;
      margin: 10px 0 0;
      a {
        text-decoration: underline;
      }
    }
  }
}

.invalid-msg {
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 100%;
  white-space: nowrap;
  margin: 0 0 4px;
  padding: 1px 5px 2px;
  background: #f00;
  color: #fff;
  &::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    border: 4px solid transparent;
    border-top-color: #f00;
  }
  transition: opacity 1s ease-in-out;
}


/* 영화 포스터 카드 */
.poster-type {
  position: relative;
  overflow: hidden;
  width: 220px;
  &:hover .hidden-layer, .hidden-layer.rated {
    display: block;
  }
  &:hover .movie-poster::before {
      display: block;
      content: "";
      position: absolute;
      height: 100%;
      background: rgba(39, 39, 39, 0.38);
      top: 0px;
      width: 100%;
  }
}
.hidden-layer {
  display: none;
  position: absolute;
  bottom: 0px;
  width: 100%;
  background: white;
  text-align: center;
}
.movie-name {
  display:block;
  padding: 10px 0px;
}
.rating-star {
  margin: 15px 0px;
}
.star {
  width: 14px;
  height: 28px;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/Five-pointed_star.svg/255px-Five-pointed_star.svg.png);
  outline: none;
  &:nth-of-type(odd) {
    background-position: 0px 0px;
  }
  &:nth-of-type(even) {
    background-position: -14px 0px;
  }
  background-size: cover;
  &.star-on{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/29/Gold_Star.svg/240px-Gold_Star.svg.png);
  }
}

.movie-poster-button{
  margin-bottom: 20px;
  .add-button {
    width: 80px;
    padding-left:5px;
    &:hover {
      color: #f83938;
      &.want2see-movie::before {
        content: "\E803";
      }
      &.comment::before {
        content: "\E805";
      }
    }
    &::before {
      padding-right:5px;
      font-family: "fontello"
    }
    &.want2see-movie::before {
      content: "\E804";
    }
    &.comment::before {
      content: "\F0E5";
    }
  }
}
