<div class="wrapper">
  <app-header></app-header>

  <section class="main-section new-movies">
    <h3 class="main-title">입력하신 의 결과입니다.</h3>
    <!-- <div class="poster-type"> 

      <ul>
        <li *ngFor="let moviePoster of moviePosters ; let i = index">
          <div class="poster-type">
            <div class="movie-poster">
              <img src="{{ moviePoster.movieNm }}" alt="" height="314" width="220">
            </div>
            <div class="hidden-layer" [class.rated]="moviePoster.rate > 0">
              <cite class="movie-name">{{ moviePoster.movieNm }}</cite>
              <div class="rating-star">

                <button *ngFor="let item of rateScore" data-value="{{ item }}" class="star" [class.star-on]="item <= moviePoster.rate" (click)="rateFilm($event.target, i)"></button>

              </div>
              <div class="movie-poster-button">
                <a href="" class="add-button want2see-movie">보고싶어요</a>
                <a href="" class="add-button comment">코멘트남기기</a>
              </div>
            </div>
          </div>
          <div class="movie-detail">
            <br> 원제:
            <br> 감독:
            <br> 배우:
            <br>
          </div>
        </li>
      </ul>
        

    </div> -->
  </section>

  <main-footer></main-footer>
</div>