<div class="wrapper">
  <div class="layout-header">
    <div class="inner-guide">
      <app-header></app-header>
      header
    </div>
  </div>

  <main class="layout-container">
    <div class="inner-guide">
      <div class="main-content">
        <section class="main-section box-office">
          <h3 class="main-title">오늘의 BOX OFFICE</h3>
          <div class="body">
            <div class="outer">
              <div class="inner">
                <div class="conLeft">
                  <box-office-ranking></box-office-ranking>
                  <!-- <section class="ranking-area">
                    <h4 class="title">영화 랭킹</h4>
                    <ol>
                      <li>
                        <a href="#">레디 플레이어 원</a>
                      </li>
                      <li>
                        <a href="#">곤지암</a>
                      </li>
                    </ol>
                  </section> -->
                </div>
                <div class="conRight">
                  <today-box-office></today-box-office>
                </div>
              </div>
            </div>
            <div class="btn-group">
              <button class="prev">이전</button>
              <button class="next">다음</button>
            </div>
          </div>
        </section>
        
        <section class="main-section enum-movies">
          <h3 class="main-title">여태 살면서 나는 영화를 몇편이나 봤을까?</h3>
          <div class="body">
            <div class="outer">
              <div class="inner">
                <div class="conLeft">
                  <movie-category></movie-category>
                  <!-- <section class="theme-area">
                    <h4 class="skip">테마별 영화</h4>
                    <ul>
                      <li>
                        <a href="#" class="current">
                          <span>역대 100만 관객 돌파 영화</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <span>왓챠 평균별점 TOP 영화</span>
                        </a>
                      </li>
                    </ul>
                  </section> -->
                </div>
                <div class="conRight">
                  <my-movies></my-movies>
                </div>
              </div>
            </div>
            <div class="btn-group">
              <button class="prev">이전</button>
              <button class="next">다음</button>
            </div>
          </div>
        </section>

        <section class="main-section new-movies">
          <h3 class="main-title">왓챠플레이 신작 &amp; 박스오피스 신작</h3>
          <div class="body">
            <div class="outer">
              <div class="inner">
                <div class="conLeft">
                  <new-movies></new-movies>
                </div>
                <div class="conRight">
                  <new-movies-post></new-movies-post>
                </div>
              </div>
            </div>
            <div class="btn-group">
              <button class="prev">이전</button>
              <button class="next">다음</button>
            </div>
          </div>
        </section>

        <theme-movies
          [themeMovies]="themeMovieList"></theme-movies>
      </div>
    </div>
  </main>

  <div class="layout-footer">
    <div class="inner-guide">
      <main-footer></main-footer>
    </div>
  </div>
</div>
