.logo {
  width: 116px;
  height: 19px;
  margin-bottom: 70px;
  background: url("../../../assets/images/footer-logo.png");
  background-size: cover;
  text-indent: -9999px;
  overflow: hidden;
}

.star-count {
  padding-left: 30px;
  font-size: 14px;
  height: 28px;
  line-height: 28px;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/29/Gold_Star.svg/240px-Gold_Star.svg.png);
  background-size: 28px 28px;
  background-repeat: no-repeat;
}

.info {
  font-size: 12px;
}

.legal {
  font-size: 14px;
  font-weight: bold;
}
