<footer>
  <div class="logo ">
    watcha
  </div>
  <div class="star-count">
    379,790,023 개의 별점 평가가 쌓이고 있습니다.
      <a href="#" class="social-btn"><img src="../../../assets/images/btn-sns-facebook.PNG" alt="공식 왓챠 페이스북 페이지로가기"></a>
      <a href="#" class="social-btn"><img src="../../../assets/images/btn-sns-twitter.PNG" alt="공식 왓챠트위터페이지로 가기"></a>
  </div>
  <div class="info">
    Copyright © 2011–2018 by Watcha, Inc. All rights reserved
  </div>
  <div class="legal">
    <a href="#">왓챠 서비스 이용약관 </a> |
    <a href="#">개인정보 취급방침</a>
  </div>
</footer>
